<ion-tabs class="shadow">
  <ion-tab-bar slot="bottom" class="ion">
    <ion-tab-button tab="tab1" routerLinkActive="active-link">
      <ion-label color="medium">Ínicio</ion-label>
      <ion-icon src="/assets/icon/home.svg" color="medium"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" routerLinkActive="active-link">
      <ion-icon src="/assets/icon/search.svg" color="primary"></ion-icon>
      <ion-label color="dark">Pesquisar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLinkActive="active-link">
      <ion-icon src="/assets/icon/agenda.svg" color="medium"></ion-icon>
      <ion-label color="medium">Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" routerLinkActive="active-link">
      <ion-icon src="/assets/icon/account.svg" color="medium"></ion-icon>
      <ion-label color="medium">Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
