<ion-header color="secondary" class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-searchbar class="" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div style="background-color: var(--ion-color-secondary)">
    <ion-text color="dark" slot="start">Categorias</ion-text>
  </div>

  <ion-grid>
    <ion-row *ngFor="let item of categories">
      <ion-col>
        <div
          class="container btn categorie"
          style="background-image: url({{item.url}});"
        >
        <span>{{item.st}}</span>
      </div>
        
      </ion-col>
      <ion-col>
        <div class="container categorie" style="background-image: url({{item.url}});">
          <span>{{item.st}}</span>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
